<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Home - pokemorm</title></head>
<body>
<header>
    <h1><a href='/'>Pokemorm</a></h1></header>
<nav>
    <a href="/">Home</a>
</nav>
<main>
    <h2>All Trainers</h2>
    <p>There's nothing to see here yet!</p></main>
</body>
</html>